.common-title h2 {
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-weight: 600;
  color: #282938;
  line-height: 64px;
}
.common-title p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #282938;
  line-height: 28px;
}
.common-title p span {
  display: block;
}
/*================================================*/
.navbar {
  background-color: #1c1e53;
  padding: 16px 0 !important;
}
.navbar .navbar-nav {
  gap: 32px;
}
.navbar .navbar-nav .nav-item .nav-link {
  padding-left: 0 !important;
  padding-right: 0 !important;
  color: #bbbbcb;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
.navbar .navbar-nav .nav-item .nav-link:hover {
  color: #ffffff;
}
.navbar .navbar-button {
  margin-left: 48px;
}
.navbar-button a {
  text-decoration: none;
  background-color: transparent;
  padding: 16px 48px;
  color: #fff;
  border-radius: 41px;
  border: 1px solid rgba(244, 246, 252, 0.2);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  transition: 0.4s;
  display: inline-block;
}

.navbar-button a:hover {
  background-color: #fcd980;
  border-color: transparent;
  color: #1c1e53;
}

/*========================Hero Section===========================*/
.hero {
  background-color: #1c1e53;
}
.hero .container .row {
  padding-top: 126px;
  padding-bottom: 128px;
}

.hero .container .row .col-lg-6 span {
  display: block;
}
.hero .container .row .col-lg-6 h1 {
  font-family: "Poppins", sans-serif;
  font-size: 54px;
  font-weight: 600;
  color: #fff;
  line-height: 74px;
}
.hero .container .row .col-lg-6 p {
  color: rgba(255, 255, 255, 0.7);
  line-height: 28px;
  margin-top: 24px;
  margin-bottom: 48px;
}

.hero .container .row img {
  object-fit: cover;
}

.hero .container .row .navbar-button a:last-child {
  text-decoration: none;
  background-color: transparent;
  padding: 0;
  color: #fff;
  border: none;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  transition: 0.4s;
  margin-left: 24px !important;
}
.hero .container .row .navbar-button a:last-child:hover {
  color: #fcd980;
}
.hero .container .row .navbar-button a:last-child:hover i {
  animation: goRight 0.9s infinite;
}

@keyframes goRight {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
/*========================Work Section===========================*/
.work {
  background-color: #f4f6fc;
  padding-top: 128px;
  padding-bottom: 128px;
}
.work h2 .common-title {
}
